
* {
  box-sizing: border-box;
}
body {
  font-family: "Courier New", Courier, monospace;
  background-color: rgb(238, 229, 229);
}

nav {
  background-color: rgba(0, 0, 0, 0.776);
  color: whitesmoke;
  display: flex;
  justify-content: space-between;
}

h1 {
  background-color: turquoise;
  color: rgba(0, 0, 0, 0.776);
  padding: 15px;
  font-size: 50px;
  margin: 10px;
}

nav ul {
  display: flex;
  list-style-type: none;
  align-items: center;
}

section {
  margin: 10px;
}

nav ul li a {
  color: turquoise;
  font-size: 25px;
  text-decoration: none;
  padding: 0 30px;
  border-bottom: turquoise 5px solid;
  margin: 5px;
}

#subheader {
  background-image: url("../images/ocean.jpeg");
  height: 250px;
  background-size: cover;
  position: relative;
  margin-bottom: 50px;
}

#subheader img {
  width: 244px;
  margin-left: 10px;
  border-radius: 5000px;
}
#subheader h3 {
  font-size: 30px;
  background-color: turquoise;
  width: fit-content;
  position: absolute;
  right: 35px;
  bottom: 0;
  padding: 10px;
}

section {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
}

.section-title {
  margin: 0px;
  font-size: 60px;
  border-right: navy 5px solid;
  flex-basis: 20%;
  text-align: right;
  align-items: flex-start;
  justify-content: right;
}

.section-content {
  flex-basis: 78%;
  align-items: flex-end;
  display: flex;
  padding: 25px;
  font-size: 25px;
}

#about-me {
  align-items: right;
}
#about-me h2 {
  align-items: right;
  padding-right: 10px;
  margin-right: 20px;
}

#work .section-title {
  padding-right: 10px;
  margin-right: 20px;
}

#work .section-content {
  display: grid;
  grid-template-areas:
    "project1 project1"
    " project1 project1"
    "project2  project3"
    "project4 project5";
  grid-gap: 30px;
}
#contact {
  align-items: center;
}
#contact h2 {
  padding-right: 10px;
  margin-right: 20px;
}
#contact .section-content {
  align-items:center;
  justify-content: space-evenly;
  font-size: 25px;
}
#contact .section-content a {
  text-decoration: none;
  color: navy;
  border-bottom: navy 5px solid;
}
h2 {
  text-align: right;
}
#project1 {
  position: relative;
  grid-area: project1;
  min-height: 240px;
  background-image: url("../images/Index.gif");
  background-size: cover;
}
#project2 {
  position: relative;
  grid-area: project2;
  background-image: url("../images/pwGen.png");
  background-size: cover;

}
#project3 {
  position: relative;
  grid-area: project3;
  background-image: url("../images/project_screenshot.jpg");
  background-size: cover;

}
#project4 {
  position: relative;
  grid-area: project4;
  background-image: url("../images/pastel-puzzle.jpeg");
  background-size: cover;

}

#project5 {
  position: relative;
  grid-area: project5;
  background-image: url("../images/run-buddy.jpeg");
  background-size: cover;

}

.project-card {
  border: turquoise 5px solid;
  background-color: powderblue;
  opacity: 75%;
  position: relative;
  min-height: 180px;
}

.project-card:hover {
  border: turquoise 8px solid;
  background-color: rgb(174, 222, 228 0.3);
  opacity: 100%;
}
.project-titles h6,
h4 {
  margin: 15px;
}
.project-titles {
  background-color: turquoise;
  width: fit-content;
  font-size: 150%;
  text-decoration-style: none;
  position: absolute;
  bottom: 20px;
}

/* Below are media queries to adjust content for page size */

@media screen and (max-width: 1800px) {
  .section-title {
    font-size: 50px;
  }
}

@media screen and (max-width: 1180px) {
  .section-title {
    font-size: 40px;
  }
  nav {
    flex-direction: column;
  }
  ul {
    justify-content: space-between;
    padding-right: 40px;
  }
}

@media screen and (max-width: 1040px) {
  .section-title {
    flex-basis: 100%;
    border-right: none;
    border-bottom: navy 5px solid;
    margin:10px 0px 10px 10px ;
    text-align: center;
  }
  .section-content {
    flex-basis: 100%;
  }
}

@media screen and (max-width: 960px) {
  #subheader h3 {
    font-size: 20px;
  }
}

@media screen and (max-width: 800px) {
  #subheader h3 {
    font-size: 15px;
  }
  #contact .section-content a {
      font-size: 20px;
      border-bottom: navy 2px solid;
  }
  header nav ul a {
    font-size: 20px; 
    border-bottom: turquoise 2px solid;
    padding: 5px 5px;
  }
}

@media screen and (max-width: 700px) {
  #contact .section-content {
    display: flex;
    flex-direction: column;
  }
  #contact a {
    margin: 20px;
  }
  #work .section-content {
    display: grid;
    grid-template-areas:
      "project1"
      "project2"
      "project3"
      "project4" 
      "project5";
    grid-gap: 10px;
  } 
}

@media screen and (max-width: 600px) {
  #subheader h3 {
    font-size: 10px;
  }
  header nav ul {
    display: flex;
    flex-direction: column;
  }
   header nav ul li {
     padding: 0;
     margin: 10px;
      
   }
}

@media screen and (max-width: 500px) {
  header h1 {
    font-size: 40px;
    text-align: center;
  }
  #subheader h3 {
    display: none;
  }
}


